*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor:url(images/sniper.png), auto;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(images/Background.jpg);
    
    .rock{
        position: absolute;
        width: 75px;
        height: 75px;
        transition: 
            top 5s ease-in-out,
            left 5s ease-in-out;
            user-select: none;
        img{
            width: 100%;
            height: 100%;
            animation-name: rotate360;
            animation: 10s rotate360 infinite linear;
        }
    }
    .bomb-holder{
        width: 50px;
        height: 50px;
        position: absolute;
        .bomb-image{
            width: 100%;
            height: 100%;
        }
    }
    .explode-holder{
        width: 100px;
        height: 100px;
        position: absolute;
        .explode-image{
            width: 100%;
            height: 100%;
        }
    }

    .counter {
        height: 80px;
        width: 80px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        color: rgb(255, 255, 255);
        font-size: 60px;
        font-weight: bolder;
        text-align: center;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        border: 1px solid white;
    }

    .timer {
        height: 80px;
        width: 160px;
        position: absolute;
        bottom: 50px;
        left: 50px;
        color: rgb(255, 255, 255);
        font-size: 60px;
        font-weight: bolder;
        text-align: center;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        border: 1px solid white; 
    }

    .messege_bomb_limit {
        width: 500px;
        height: 100px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;
        font-size: 100px;
        font-weight: bolder;
        text-align: center;
    }
}


@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}