*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;

    .rock{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: rgb(98, 98, 98);
    }
}