*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    .box{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: brown;
    }
}